.banner-img {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("https://e0.pxfuel.com/wallpapers/559/84/desktop-wallpaper-movie-theater-background-movie-cinema.jpg");
  background-size: cover;
  //border: white solid 0.5px;;
  //width: 95%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
  //margin-left: 10px;
  //margin-right: 20px;


  h1 {
    font-size: 50px;
    color: white;
    font-weight: bold;
  }
}
